.contact{
    display:flex;
    justify-content:center;
    font-family: 'Signika', sans-serif;
    margin-bottom: 15%;
}

.submit{
  background-color: rgb(90, 82, 82);
  -bobox-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
  
 
}

