.head{
  height: auto;
   width: 20%;
   float: left;
}


.col-ml-4{
    background: url(../img/backgroundPhoto4.png);
    padding: 60px;
    color:rgb(255, 255, 255);
    border-end-end-radius: 50px;
    border-radius:50px;
    height: 1000px;
    margin-bottom: 50px;
    
}

h4{
    display:flex;
    justify-content: center;
    
}


.imgAlvaro{
    width:170px;
    height:170px;
    border-radius:150px;
    border:3px solid white;
    display:block;
    margin:auto;
}

.list-group-item{
   background-color: rgb(71, 67, 67);
   color: white;
   border-radius:50px;
   margin:25px;
   padding:20px;
   -bobox-shadow: 10px 10px 5px #ccc;
   -moz-box-shadow: 10px 10px 5px #ccc;
   -webkit-box-shadow: 10px 10px 5px #ccc;
   -khtml-box-shadow: 10px 10px 5px #ccc;
   display:flex;
   justify-content: center;
    
}


