
.porfolio{
    width:20%;
    padding-bottom:5%;
    float: left;
    display:flex;

}

.card{
    bobox-shadow: 10px 10px 5px rgb(22, 22, 22);
   -moz-box-shadow: 10px 10px 5px  rgb(22, 22, 22);
   -webkit-box-shadow: 10px 10px 5px  rgb(22, 22, 22);
   -khtml-box-shadow: 10px 10px 5px  rgb(22, 22, 22);
   width: 25rem;
  height: 25rem;
   justify-content:space-around;
  
}