
.porfolio{
    width:30%;
    padding-bottom:5%;
   
    

}

.card{
    bobox-shadow: 10px 10px 5px rgb(22, 22, 22);
   -moz-box-shadow: 10px 10px 5px  rgb(22, 22, 22);
   -webkit-box-shadow: 10px 10px 5px  rgb(22, 22, 22);
   -khtml-box-shadow: 10px 10px 5px  rgb(22, 22, 22);
   
   height: 30rem;
   padding:10px;
  
}