.App{
    padding:2%;
    background-color: rgb(235, 230, 230);
    width: 100%; 
    height: 100%; 
}

.root{
    height: 100%;
}

.profolioAPP{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap ;
    align-items: stretch ;
}